<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vizeproje">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/broapp_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/broapp_round_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
            android:name=".PhoneSignInActivity"
            android:exported="false" >
        </activity>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.
             To get one, follow the directions here:
                https://developers.google.com/maps/documentation/android-sdk/get-api-key
             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBVUAstJntn5OljwcP2zx_4JkzCSFSq2Rw" />

        <activity
            android:name=".LocationActivity"
            android:exported="false"
            android:label="@string/title_activity_location" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".CDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Vizeproje" />
    </application>

</manifest>